.zwiekszCzcionke {
    font-size: 125%;
}

.zmniejszCzcionke {
    font-size: 75%;
}

#toTopButton {
    background-color: brown;
    padding: 10px;
    width: 150px;
    height: 30px;
    position: fixed;
    bottom: 15px;
    right: 15px;
    cursor: pointer;
    display: none;
}

#toTopButton:hover {
    color: aqua;
}

img {
    width: 10%;
    height: 8%;
}

#obrazek {
    position: absolute;
}