* {
    box-sizing: border-box;
    /* css3 rec */
    -moz-box-sizing: border-box;
    /* ff2 */
    -ms-box-sizing: border-box;
    /* ie8 */
    -webkit-box-sizing: border-box;
    /* safari3 */
    -khtml-box-sizing: border-box;
    /* konqueror */
}

body {
    height: 100vh;
}

/* General styles */

img {
    max-width: 100%;
    height: auto;
}

.form {
    margin: 3rem auto;
    font-family: sans-serif;
    max-width: 40rem;
}

.form .form-row {
    margin-bottom: 1rem;
}

.form .form-row:last-child {
    margin-bottom: 0;
}

.form input[type=text],
.form input[type=email],
.form textarea,
.form .checkbox-cnt .state {
    box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.07);
}

.form input[type=text],
.form input[type=email],
.form textarea {
    border-radius: 0.2rem;
    font-family: sans-serif;
    padding: 0.8rem;
    border: 1px solid #aaa;
    display: block;
    width: 100%;
    color: #666;
}

.form input[type=text]:focus,
.form input[type=email]:focus,
.form textarea:focus {
    border-color: #9DC9F5;
    box-shadow: inset 0 0 0 1px #9DC9F5, inset 0 1px 5px rgba(0, 0, 0, 0.07);
    outline: none;
}

.form textarea {
    height: 10rem;
}

.form label {
    font-weight: bold;
    display: block;
    font-size: 0.9rem;
    margin-bottom: 0.5rem;
}

.form .submit-btn {
    font-family: sans-serif;
    padding: 1rem 2rem;
    background: #5585D5;
    border: 0;
    border-radius: 0.2rem;
    color: #fff;
    font-size: 1.1rem;
    font-weight: bold;
    transition: 0.3s background-color;
}

/* checkbox. radiobox */

.form .submit-btn:hover {
    background: #499bea;
    background: -moz-linear-gradient(top, #499bea 0%, #0d5cdb 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #499bea), color-stop(100%, #0d5cdb));
    background: -webkit-linear-gradient(top, #499bea 0%, #0d5cdb 100%);
    background: -o-linear-gradient(top, #499bea 0%, #0d5cdb 100%);
    background: -ms-linear-gradient(top, #499bea 0%, #0d5cdb 100%);
    background: linear-gradient(to bottom, #499bea 0%, #0d5cdb 100%);
}

.form .checkbox-cnt {
    min-height: 25px;
    display: inline-block;
    position: relative;
    padding-top: 5px;
    padding-left: 35px;
    margin-right: 15px;
    cursor: pointer;
}

.form .checkbox-cnt .state {
    width: 2rem;
    height: 2rem;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    border: 1px solid #aaa;
    border-radius: 0.2rem;
}

.form .checkbox-cnt .state:before {
    width: 1rem;
    height: 1rem;
    border-radius: 0.2rem;
    background: #5585D5;
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    content: '';
    transform: translate(-50%, -50%) scale(1);
    opacity: 0;
}

.form .checkbox-cnt input:checked~.state:before {
    animation: checkboxShowAnim 0.5s 1;
    opacity: 1;
}

/* Znak ptaszka */

/* .checkbox-cnt .state:before {
    width: 7px;
    height: 3px;
    display: block;
    content: '';
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transition: 0.3s background;
    -moz-transition: 0.3s background;
    -o-transition: 0.3s background;
    -ms-transition: 0.3s background;
    transition: 0.3s background;
    position: absolute;
    top: 13px;
    left: 6px;
}

.checkbox-cnt .state:after {
    width: 10px;
    height: 3px;
    display: block;
    content: '';
    -moz-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transition: 0.3s background;
    -moz-transition: 0.3s background;
    -o-transition: 0.3s background;
    -ms-transition: 0.3s background;
    transition: 0.3s background;
    position: absolute;
    top: 12px;
    left: 9px;
} */

/* .checkbox-cnt input:checked+.state:before,
.checkbox-cnt input:checked+.state:after {
    background: #5585D5;
}

.checkbox-cnt .state:before,
.checkbox-cnt .state:after {
    background: #eee;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -ms-transition: 0.3s;
    transition: 0.3s;
}

.checkbox-cnt input:disabled+.state {
    background: #eee;
    box-shadow: none;
    border: 1px solid #ddd;
} */

.form .checkbox-cnt input {
    position: absolute;
    top: 0;
    left: 0;
    width: 2rem;
    height: 2rem;
    z-index: 2;
    cursor: pointer;
    padding: 0;
    margin: 0;
    opacity: 0;
}

/* label */
.form .checkbox-cnt input~span {
    font-weight: 300;
    font-size: 0.9em;
}

.checkbox-cnt input[type=radio]+.state {
    border-radius: 50%;
}

@keyframes checkboxShowAnim {
    0% {
        border-radius: 50%;
        transform: translate(-50%, -50%) scale(0.2);
    }
    50% {
        transform: translate(-50%, -50%) scale(1.2);
    }
    100% {
        transform: translate(-50%, -50%) scale(1);
    }
}

/* walidacja */

.form input[type=text].error,
.form input[type=email].error,
.form textarea.error,
.form .checkbox-cnt input.error~.state {
    border-color: #E01546;
}

.field-error {
    color: #E01546;
    padding: 0.5rem 0;
    font-size: 0.8rem;
}

@media screen and (max-width:500px) {
    .form .submit-btn {
        display: block;
        width: 100%;
    }
}

/* select with graphic */

.select-graphic {
    background: #fff;
    width: 100%;
    border: 1px solid #CBD5DD;
    border-radius: 2px;
    padding: 10px 40px 10px 10px;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
    z-index: 2;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    text-indent: 0.01px;
    text-overflow: "";
    background-image: url(http://domanart.pl/dema/css-forms/select-arrow.png);
    background-position: right center;
    background-repeat: no-repeat;
    background-size: 40px 40px;
}

.select-graphic::-ms-expand {
    display: none;
}

.ie9 .select-graphic,
.lt-ie9 .select-graphic {
    background-image: none;
    padding-right: 10px;
}

/* select with element */

.select-cnt {
    position: relative;
    height: 40px;
    line-height: 40px;
}

.select-cnt select {
    background: none;
    width: 100%;
    border: 1px solid transparent;
    border-radius: 2px;
    padding: 10px 40px 10px 10px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
    z-index: 2;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    text-indent: 0.01px;
    text-overflow: "";
    position: absolute;
    left: 0;
    top: 0;
}

.select-cnt select::-ms-expand {
    display: none;
}

.select-cnt .select {
    background: #fff;
    width: 100%;
    display: block;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
    border: 1px solid #CBD5DD;
    border-radius: 2px;
    height: 40px;
    padding: 10px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
    z-index: 0;
    cursor: pointer;
}

.select-cnt .select:before {
    width: 12px;
    height: 2px;
    border-radius: 1px;
    display: block;
    content: '';
    background: #CBD5DD;
    -moz-transform: rotate(44deg);
    -webkit-transform: rotate(44deg);
    transform: rotate(44deg);
    color: #CBD5DD;
    -webkit-transition: 0.3s color;
    -moz-transition: 0.3s color;
    -o-transition: 0.3s color;
    -ms-transition: 0.3s color;
    transition: 0.3s color;
    position: absolute;
    top: 19px;
    right: 20px;
    z-index: 1;
    pointer-events: none;
}

.select-cnt .select:after {
    width: 12px;
    height: 2px;
    border-radius: 1px;
    display: block;
    content: '';
    background: #CBD5DD;
    -moz-transform: rotate(-44deg);
    -webkit-transform: rotate(-44deg);
    transform: rotate(-44deg);
    color: #CBD5DD;
    -webkit-transition: 0.3s color;
    -moz-transition: 0.3s color;
    -o-transition: 0.3s color;
    -ms-transition: 0.3s color;
    transition: 0.3s color;
    position: absolute;
    top: 19px;
    right: 12px;
    z-index: 1;
    pointer-events: none;
}

.ie9 .select-cnt select,
.lt-ie9 .select-cnt select {
    padding-right: 10px;
}

.ie9 .select-cnt .select:before,
.lt-ie9 .select-cnt .select:before,
.ie9 .select-cnt .select:after,
.lt-ie9 .select-cnt .select:after {
    display: none;
}

/* Custom file */

.file-cnt {
    width: 90%;
    height: 40px;
    display: block;
    position: relative;
    overflow: hidden;
}

.file-cnt .input-file {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    font-family: sans-serif;
    line-height: 40px;
    text-align: center;
    color: #fff;
    height: 40px;
    width: 90px;
    border-radius: 0 3px 3px 0;
    background: #499bea;
    background: -moz-linear-gradient(top, #499bea 0%, #0d5cdb 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #499bea), color-stop(100%, #0d5cdb));
    background: -webkit-linear-gradient(top, #499bea 0%, #0d5cdb 100%);
    background: -o-linear-gradient(top, #499bea 0%, #0d5cdb 100%);
    background: -ms-linear-gradient(top, #499bea 0%, #0d5cdb 100%);
    background: linear-gradient(to bottom, #499bea 0%, #0d5cdb 100%);
    box-shadow: -3px 0 3px rgba(0, 0, 0, 0.2);
}

.file-cnt .input-file span {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    width: 90px;
    height: 40px;
    line-height: 40px;
    text-align: center;
}

.file-cnt input[type="file"] {
    position: absolute;
    right: 0;
    top: 0;
    opacity: 0;
    filter: alpha(opacity=0);
    height: 100%;
    display: block;
    cursor: pointer;
    z-index: 2;
}

.file-cnt .text {
    border-radius: 2px;
    margin-right: 90px;
    height: 40px;
    font-family: sans-serif;
    line-height: 40px;
    display: block;
    position: relative;
    padding: 0 15px;
    border: 1px solid #CBD5DD;
    border-right: 0;
    background: #fff;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/*disabled */

.file-cnt.disabled,
.file-cnt.disabled * {
    cursor: default !important;
}

.file-cnt.disabled .input-file {
    border-left: 1px solid #000 !important;
}

@media only screen and (max-width: 320px) {
    .file-cnt input[type="text"] {
        display: none;
    }
    .file-cnt .input-file {
        width: 100%;
        margin: 0;
    }
}