@font-face {
    font-family: ChalkFont;
    src: url("../fonts/SqueakyChalkSound.ttf");
}

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    min-height: 100vh;
    /* background: #7A419B; */
    /* background: linear-gradient(135deg, #7c1599 0%, #921099 48%, #7e4ae8 100%); */
    background:#4C4C4C url("../img/unionstation.jpg");
    background-size: cover;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    font-family: 'ChalkFont', serif;
    color: #ffc600;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    width: 1024px;
}

.player-wrapper {
    width: 100%;
    display: flex;
}

header h1 {
    text-shadow: 2px 2px black;
}

.player {
    width: 90%;
    border: 5px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    position: relative;
    font-size: 0;
    overflow: hidden;
}

/* This css is only applied when fullscreen is active. */

.player:fullscreen {
    max-width: none;
    width: 100%;
}

.player:-webkit-full-screen {
    max-width: none;
    width: 100%;
}

.player__video {
    width: 100%;
}

.player__button {
    background: none;
    border: 0;
    line-height: 1;
    color: white;
    text-align: center;
    outline: 0;
    padding: 0;
    cursor: pointer;
    max-width: 50px;
}

.player__button:focus {
    border-color: #ffc600;
}

.player__slider {
    width: 10px;
    height: 30px;
}

.player__controls {
    display: flex;
    justify-content: space-around;
    position: absolute;
    bottom: 0;
    width: 99.9%;
    transform: translateY(100%) translateY(-5px);
    transition: all .3s;
    flex-wrap: wrap;
    background: gray;
    min-height: 35px;
}

.player:hover .player__controls {
    transform: translateY(0);
}

.player:hover .progress {
    height: 15px;
}

.player__controls>* {
    flex: 1;
}

.progress {
    flex: 10;
    position: relative;
    display: flex;
    flex-basis: 100%;
    height: 5px;
    transition: height 0.3s;
    background: rgba(0, 0, 0, 0.5);
    cursor: ew-resize;
}

.progress__filled {
    width: 50%;
    background: #ffc600;
    flex: 0;
    flex-basis: 0%;
}

/* Control Bars */

.control__bars {
    display: flex;
}

.control__bars--volume,
.control__bars--playbackrate {
    display: flex;
    align-items: center;
    flex-flow: column nowrap;
}

.control__bars--volume .fa-volume-up,
.control__bars--volume .fa-volume-off,
.control__bars--playbackrate .fa-tachometer-alt {
    height: 25px;
    width: 20px;
    margin-bottom: 5px;
    cursor: pointer;
    transition: all 0.5s;
}

.control__bars--volume .fa-volume-up:hover,
.control__bars--volume .fa-volume-off:hover,
.control__bars--playbackrate .fa-tachometer-alt:hover {
    transform: scale(1.5);
}

.volume,
.speed {
    width: 50px;
    height: 90%;
    background: #efefef;
    display: flex;
    align-items: flex-end;
    margin: 10px;
    border-radius: 50px;
    box-shadow: 0 0 1px 3px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    cursor: -webkit-grab;
}

.volume-bar,
.speed-bar {
    width: 100%;
    background: linear-gradient(-170deg, rgba(242, 234, 73, 1) 0%, rgba(130, 122, 133, 1) 100%);
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px;
    font-size: 1rem;
    color: white;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

.volume-bar {
    height: 50%;
}

.speed-bar {
    height: 16.3%;
}

/* Footer */

.footer {
    padding: 1rem 0;
    display: flex;
    align-items: center;
    flex-flow: column nowrap;
}

.footer .footer__link {
    color: black;
    text-decoration: none;
    font-size: 2.2rem;
    transition: all 0.5s;
}

.footer .footer__link:hover {
    transform: scale(1.2);
}

.footer .footer__paragraph {
    color: black;
    font-size: 1.5rem;
}

@media (max-width: 900px) {
    .player-wrapper {
        justify-content: center;
        flex-wrap: wrap;
    }
    .player {
        width: 95%;
    }
    .control__bars {
        width: 90%;
        justify-content: space-between;
    }
    .control__bars--volume,
    .control__bars--playbackrate {
        flex-flow: row-reverse nowrap;
        width: 50%;
    }
    .volume,
    .speed {
        width: 100%;
    }
    .volume-bar,
    .speed-bar {
        height: 100%;
    }
}

@media (max-width: 720px) {
    header h1 {
        font-size: 2rem;
    }
    .volume,
    .speed {
        height: 50%;
    }
    .volume-bar,
    .speed-bar {
        font-size: 0.7rem;
    }
    .footer .footer__link {
        font-size: 1.5rem;
    }
    .footer .footer__paragraph {
        font-size: 1rem;
    }
}

@media (max-width: 480px) {
    header h1 {
        font-size: 1.4rem;
    }
    .footer .footer__link {
        font-size: 1.3rem;
    }
    .footer .footer__paragraph {
        font-size: 0.7rem;
    }
}